@import "tailwindcss";

:root{
  --toastify-color-dark: #1e2939 !important;
  --toastify-color-success: #00a63e !important;
  --toastify-color-warning: #d08700 !important;
  --toastify-color-error: #e7000b !important;
  
  --toastify-font-family: var(--font-inter);

  --foreground: #ffffff;
}

@theme {
  --color-dark-300: #1f2937;
  --color-dark-400: #020817;
  --color-dark-500: #030711;

  --color-primary-400: #b575f0;
  --color-primary-500: #9234ea;
}

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.Toastify__toast{
  border: 1px solid #364153;
}